.App {
  text-align: center;
  background-color: hsla(259, 86%, 5%, 93%);
}

.icon {
  margin-right: 5.2px;
}

.nav > a > h3 {
  font-family: 'Chango', cursive;
  color: rgba(255, 228, 10, 0.93);
  /* text-shadow: -1px -1px black, 1px -1px black, -1px 1px black, 1px 1px black; */
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.home {
  display: flex;
  /* align-items: center; */
  margin-left: 46.5%;
  margin-top: 10%;
}

#host {
  margin-right: 5px;
}

#join {
  margin-left: 5px;
}

.now-playing {
  position: absolute; /* Sit on top of the page content */
  width: 100%;
  height: 65%;
  top: 137px;
  left: 0%;
  /* background-color: white; */
  z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;

  background-image: url('./astro.jpg');
  background-size: cover;
  border-top: groove;
  border-color: hsla(16, 70%, 58%, 0.85);
  border-width: 1px;

}

.playlist-list {
  margin-right: 8%;
  float: right;
  color: white;
}

.playlist-list > h4 {
  width: 10em;
  word-wrap: normal;
  margin-top: 1px;
  margin-bottom: 20px;
}

.media-window {
  position: fixed;
  margin-left: 25%;
  margin-top: 2%;
  color: white;
}

#search {
  margin-right: 6px;
}

#search > input {
  margin-top: 65px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#search > button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 2px;
  padding-bottom: 1px;
  border-style: inset;
}

.overlay {
  position: absolute; /* Sit on top of the page content */
  border-color: rgb(172, 175, 177);
  border-width: 10px;
  border-style: ridge groove groove ridge;
  border-radius: 10px;
  width: 40%;
  height: 50%;
  overflow-x: scroll;
  top: 18em;
  left: 29.8%;
  background-color: rgb(200, 203, 204);
  z-index: 500; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.ui.cards {
  margin: 100px 10px;
  /* overflow-x: scroll; */
  /* white-space: nowrap; */
  height: 26em;

  margin-left: 15px;
  margin-top: 40px;
  flex-wrap: nowrap;
}

.content {
  white-space: normal;
}

.queue {
  height: 35em;
}

.voting-room {
  background-image: url('./astro.jpg');
  background-size: cover;
  border-top: groove;
  border-color: hsla(16, 70%, 58%, 0.85);
  border-width: 1px;
  margin-top: 0px;
}
/* No longer in use */
.voting-card {
  border: 1px solid black;
  width: 15%;
  padding: 5px;
  display: inline-block;
}

.search-result-detail {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  text-align: left;
  word-wrap: normal;
}

.result-title {
  word-wrap: normal;
}

.thumbnail {
  margin-top: 7px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.voting-medium > img {
  width: 80%;
  height: auto;
}
